<package-def>

    <class name="АннотацияВключенДляOneScript" file="src/core/Классы/АннотацияВключенДляOneScript.os"/>
    <class name="АннотацияВключенЕсли" file="src/core/Классы/АннотацияВключенЕсли.os"/>
    <class name="АннотацияВключенНаОС" file="src/core/Классы/АннотацияВключенНаОС.os"/>
    <class name="АннотацияВыключен" file="src/core/Классы/АннотацияВыключен.os"/>
    <class name="АннотацияВыключенДляOneScript" file="src/core/Классы/АннотацияВыключенДляOneScript.os"/>
    <class name="АннотацияВыключенЕсли" file="src/core/Классы/АннотацияВыключенЕсли.os"/>
    <class name="АннотацияВыключенНаОС" file="src/core/Классы/АннотацияВыключенНаОС.os"/>
    <class name="АннотацияИсточникВыражение" file="src/core/Классы/АннотацияИсточникВыражение.os"/>
    <class name="АннотацияИсточникЗначение" file="src/core/Классы/АннотацияИсточникЗначение.os"/>
    <class name="АннотацияИсточникНеопределено" file="src/core/Классы/АннотацияИсточникНеопределено.os"/>
    <class name="АннотацияИсточникПеречисление" file="src/core/Классы/АннотацияИсточникПеречисление.os"/>
    <class name="АннотацияИсточникJSON" file="src/core/Классы/АннотацияИсточникJSON.os"/>
    <class name="АннотацияОтображаемоеИмя" file="src/core/Классы/АннотацияОтображаемоеИмя.os"/>
    <class name="АннотацияПараметризованныйТест" file="src/core/Классы/АннотацияПараметризованныйТест.os"/>
    <class name="АннотацияПередВсеми" file="src/core/Классы/АннотацияПередВсеми.os"/>
    <class name="АннотацияПередКаждым" file="src/core/Классы/АннотацияПередКаждым.os"/>
    <class name="АннотацияПовторяемыйТест" file="src/core/Классы/АннотацияПовторяемыйТест.os"/>
    <class name="АннотацияПослеВсех" file="src/core/Классы/АннотацияПослеВсех.os"/>
    <class name="АннотацияПослеКаждого" file="src/core/Классы/АннотацияПослеКаждого.os"/>
    <class name="АннотацияТаймаут" file="src/core/Классы/АннотацияТаймаут.os"/>
    <class name="АннотацияТег" file="src/core/Классы/АннотацияТег.os"/>
    <class name="АннотацияТест" file="src/core/Классы/АннотацияТест.os"/>
    <class name="АннотацияТестовыйНабор" file="src/core/Классы/АннотацияТестовыйНабор.os"/>
    <class name="МенеджерТестирования" file="src/core/Классы/МенеджерТестирования.os"/>

    <module name="Предполагаем" file="src/core/Модули/Предполагаем.os"/>

</package-def>
